#poster {
  width: 80%;
  display: block;
  margin: auto;
  margin-bottom: 1rem;
  transition: width .5s ease;
  border-radius: 8px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
  text-align: center;
}

body{
  background-image: linear-gradient(90deg, rgba(25,25,25,1) 0%, rgba(25,25,25,0) 25%, rgba(25,25,25,0) 75%, rgba(25,25,25,1) 100%), url('../../welcome/assets/bg.png');
  background-size: cover;
  background-color: #1e1e1e;
  min-height: 100vh;
}

main{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  min-height:100vh;
}

h1{
  color: #fcecb3;
  margin-bottom: 1rem;
}

#content{
  width: clamp(200px, 50%, 400px);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

p{
  font-style: italic;
  color: #fcecb3;
  font-weight: 300;
}

button{
  margin-top: 1.5rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  padding: .5rem 1rem;
  font-weight: 500;
  color: #fcecb3;
  background-color: #d82e2e;
}